/*подключение шрифта Exo2*/
@font-face{
    font-family: 'Exo2';
    src: url("../fonts/Exo2-Regular.ttf"); /*путь к файлу*/
    font-weight: 400; /*насыщеность шрифта*/
    font-style: normal; /*прямое начертание(не курсив)*/
    font-display: swap;
}
@font-face{
    font-family: 'Exo2';
    src: url("../fonts/Exo2-Bold.ttf"); /*путь к файлу*/
    font-weight: 700; /*насыщеность шрифта*/
    font-style: normal; /*прямое начертание(не курсив)*/
    font-display: swap;
}
@font-face{
    font-family: 'Exo2';
    src: url("../fonts/Exo2-Italic.ttf"); /*путь к файлу*/
    font-weight: 400; /*насыщеность шрифта*/
    font-style: italic; /*прямое начертание(не курсив)*/
    font-display: swap;
}
@font-face{
    font-family: 'PTSans';
    src: url("../fonts/PTSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
