/*задает стильи для всего тела документа*/
body{
    display: flex;
    flex-direction: column;
    margin: 0; /*убирает стандартные отступы браузера по краям*/
    align-items: center; /*выравнивает дочерние эл-ты по центу горизонтали*/
    max-width: 100%;
    height: auto;
}
.page-header{
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 166, 166); /*устанавливает фон*/
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 100%; /*минимальная ширина шапки*/
    max-width: 1440px; /*ограничение максимальной ширины*/
    min-height: 113px; 
 } 
.header-contantiher {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-contantiher > a > img{
    display: block; /*делает картинку блочной, чтобы убрать лишний отступ снизу*/
    width: 103px;
    height: 56px;
    margin-left: 10px;
}
.nav{
    margin-left: 800px;
}
/*горизонтальное меню*/
.nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
/*добавлеет отступы для каждого меню слева и справа*/
.nav li{
    margin-left: 25px; 
    margin-right: 25px; 
}
.nav a{
    text-decoration: none;
    color: #0b7572;
    font-size: 28px;
    font-family:'Exo2', Arial, sans-serif; /*Добовлен запасной шрифт*/
}
